@tailwind base;
@tailwind components;
@tailwind utilities;

#sticky_header {
  @apply sticky top-0 z-10 backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-text;
}
.typing-container {
  font-size: 24px;
  padding-right: 8px;
}
.typed-text{
  font-size: 1.5em;
  overflow: hidden; /* Hide overflow characters */
  border-right: 0.1em solid #000; /* Create a blinking cursor effect */
  padding-right: 4px; /* Adjust spacing for cursor effect */
}

nav > ul > li {
  @apply hover:scale-105
}

.footer > div > span{
  @apply text-3xl font-light hover:scale-105
}
.footer > div > p {
  @apply pb-3 font-extrabold text-accent text-2xl
}

.footer > div {
  @apply border-2 m-5 sm:m-0 border-accent p-3 flex flex-col items-center shadow-md rounded-lg
}

.footer {
  @apply sm:flex sm:flex-row flex-col items-start justify-evenly py-10
}

/* .tiltingDiv {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
} */
